body {
    margin: 10px

}

h1{
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

p{
    font-size: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}